###### CONFIG DEL INSTALADR ######
#INSTALADOR_TIMEOUT="1200"
ENTORNO_PRODUCCION="1"

###### CONFIG DE BASE DE DATOS DE NEGOCIO ######
PROYECTO_DB_HOST="localhost"
PROYECTO_DB_PORT="5432"
PROYECTO_DB_DBNAME="db_kolla"
PROYECTO_DB_USERNAME="postgres"
PROYECTO_DB_PASSWORD="postgres"
PROYECTO_DB_SCHEMA="kolla"
PROYECTO_DB_ENCODING="LATIN1"
#PROYECTO_DB_MOTOR="postgres7"

###### CONFIG DE BASE DE DATOS DE TOBA ######
TOBA_DB_HOST="localhost"
TOBA_DB_PORT="5432"
TOBA_DB_DBNAME="db_kolla"
TOBA_DB_USERNAME="postgres"
TOBA_DB_PASSWORD="postgres"
TOBA_DB_SCHEMA="toba_kolla"
TOBA_DB_ENCODING="LATIN1"
TOBA_DB_MOTOR="postgres7"

###### CONFIG DE TOBA ######
TOBA_URL_BASE="http://localhost"
TOBA_USUARIO="toba"
TOBA_PASSWORD="toba1234"
TOBA_PROYECTO_DIR="/ruta/absoluta/al/proyecto"
TOBA_INSTALACION_DIR="/ruta/absoluta/donde/instalar"
TOBA_ALIAS_PROYECTO="/proyecto"
#TOBA_ALIAS_NUCLEO="/alias_proyecto_koll"
TOBA_ALIAS_TOBA_USUARIOS="/alias_toba_usuarios"
#TOBA_ALIAS_TOBA_EDITOR="/toba_editor"
#TOBA_ALIAS_TOBA_REFERENCIA="/toba_referencia"
#TOBA_ID_DESARROLLADOR=0
#TOBA_SESSION_NAME="TOBA_PROYECTO"
#TOBA_FORZAR_HTTPS="off"
#TOBA_SALT=1nr4ng0-al3a7or10d3carac73r3$-93n14l

###### CONFIG ENVIO MAILS (SMTP) ######
SMTP_ENTRADA="smtpconfig"
SMTP_HOST="smtp.google.com"
SMTP_PORT="465"
SMTP_FROM ="usuario@dominio.com"
SMTP_USUARIO ="usuario"
SMTP_CLAVE ="c0ntr4s3ñ4"
SMTP_AUTH ="1"
SMTP_SEGURIDAD ="ssl"
#SMTP_HELO=""

##### CONFIG REST-HOOKS #####
#REST_HOOKS_REDIS_HOST="127.0.0.1"
#REST_HOOKS_REDIS_PORT="6379"

###### CONFIG SP ONE LOGIN ######
#SSO_SP_IDP_METADATA_URL=https://usuarios/idp.metadata
#SSO_SP_IDP_URL_SERVICE=http://service.example.com/simplesaml/saml2/idp/SSOService.php
#SSO_SP_IDP_SINGLE_LOGOUT_URL_SERVICE=http://service.example.com/simplesaml/saml2/idp/SingleLogoutService.php
#SSO_SP_IDP_PUBLIC_KEY_FILE=/usr/local/app/idp.key
#SSO_SP_ATRIBUTO_USUARIO=uid
#SSO_SP_PERMITE_LOGIN_TOBA=0
#SSO_SP_AUTH_SOURCE=default-sp
#SSO_SP_COOKIE_NAME=TOBA_SESSID
#SSO_SP_IDP_NAME=service.example.com

##### CONFIG API REST #####
#REST_CLIENTE_USUARIO=admin
#REST_CLIENTE_CLAVE=123456789*-a
#REST_CLIENTE_AUTH=ssl
#REST_SERVIDOR_USUARIO=user
#REST_SERVIDOR_CLAVE=pass
#REST_SERVIDOR_AUTH=basic|digest|ssl
#REST_ARAI_SYNC_KEY_FILE=/ruta/a/arai-sync.key
#REST_WS_CONSUMIDOS=XXXXXX,YYYYYY
#REST_CLIENTE_XXXXXX=user:pass
#REST_CLIENTE_YYYYYY=auth%user:pass@host

###### CONFIG AFIP WS ######
#AFIP_WS_CUIT=cuit
#AFIP_WS_CERT=/ruta/a/cert
#AFIP_WS_KEY=/ruta/a/key
#AFIP_WS_TOKEN_DIR=/ruta/a/generacion/token
